<div class="hero">
    <div class="navbar">
        <img src="../assets/image/landing/popcornsLogo.svg" class="logo" />
        <button type="button" routerLink="/login">Sign in</button>
    </div>
    <div class="content">
        <small>Welcome to our</small>
        <h1>Popcorns<br>Store</h1>
        <button type="button" routerLink="/signup">Sign up</button>
    </div>
    <div class="popcorns">
        <img src="../assets/image/landing/popcornsIcon.svg" />
        <img src="../assets/image/landing/popcornsIcon.svg" />
        <img src="../assets/image/landing/popcornsIcon.svg" />
        <img src="../assets/image/landing/popcornsIcon.svg" />
        <img src="../assets/image/landing/popcornsIcon.svg" />
        <img src="../assets/image/landing/popcornsIcon.svg" />
        <img src="../assets/image/landing/popcornsIcon.svg" />
    </div>
</div>